<launch>
  <arg name="debug" default="False"/>
  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_hardware_gazebo.launch">
    <arg name="posx"  value="10.61"/>
    <arg name="posy"  value="11.24"/>
    <arg name="posz"  value="0.05"/>
    <arg name="yaw"   value="3.14"/>
    <arg name="world" value="appartment"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/justina_gazebo.rviz"/>
  
  <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen">
    <param name="la_predefined" value="$(find config_files)/justina/manipulation/la_predefined.yaml"/>
    <param name="ra_predefined" value="$(find config_files)/justina/manipulation/ra_predefined.yaml"/>
    <param name="hd_predefined" value="$(find config_files)/justina/manipulation/hd_predefined.yaml"/>
    <remap from="/vision/obj_reco/recognize_object" to="/vision/obj_segmentation/get_obj_pose"/>
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_gazebo_controllers.launch"/>
  <include file="$(find surge_et_ambula)/launch/justina/navigation.launch">
    <arg name="static_map_file"  value="$(find config_files)/maps/appartment.yaml"/>
    <arg name="prohibition_map_file"  value="$(find config_files)/prohibition_maps/appartment.yaml"/>
    <arg name="initial_pose_x" value="0.49"/>
    <arg name="initial_pose_y" value="-0.19"/>
    <arg name="initial_pose_a" value="0"/>
    <arg name="max_linear_speed" value="0.9"/>
    <arg name="max_angular_speed" value="1.2"/>
    <arg name="laser_scan_topic" value="/hardware/scan"/>
    <arg name="point_cloud_topic" value="/camera/depth_registered/points"/>
    <arg name="use_lidar" value="True"/>
    <arg name="use_point_cloud" value="True"/>
    <arg name="use_pot_fields" value="True"/>
    <arg name="pot_fields_k_rej" value="0.3"/>
    <arg name="pot_fields_d0" default="1.0"/>
    <arg name="cloud_downsampling" value="9"/>
    <arg name="cloud_points_threshold" value="50"/>
    <arg name="lidar_points_threshold" value="5"/>
  </include>

  <include file="$(find surge_et_ambula)/launch/justina/justina_manipulation.launch"/>
  <include file="$(find surge_et_ambula)/launch/justina/vision.launch">
    <arg name="debug"         value="$(arg debug)"/>
    <arg name="training_dir"  value="$(find obj_reco)/training_simul"/>
  </include>
  <include file="$(find surge_et_ambula)/launch/justina/hri.launch"/>

</launch>
