<launch>
  <arg name="debug" default="False"/>
  
  <param name="base_link_name" value="base_link"/>
  <remap from="/cmd_vel" to="/hardware/mobile_base/cmd_vel"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find justina_description)/urdf/justina.xacro'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  
  <include file="$(find surge_et_ambula)/launch/justina/hardware/justina_hardware.launch"/>
  
  <include file="$(find surge_et_ambula)/launch/justina/navigation.launch">
    <arg name="static_map_file"  value="$(find config_files)/maps/mapa_itzel.yaml"/>
    <arg name="prohibition_map_file"  value="$(find config_files)/prohibition_maps/mapa_itzel.yaml"/>
    <arg name="initial_pose_x" value="0.0"/>
    <arg name="initial_pose_y" value="0.0"/>
    <arg name="initial_pose_a" value="0.0"/>
    <arg name="laser_scan_topic" value="/hardware/scan"/>
    <arg name="point_cloud_topic" value="/camera/depth_registered/points"/>
    <arg name="use_lidar" value="True"/>
    <arg name="use_point_cloud" value="False"/>
    <arg name="cloud_downsampling" value="9"/>
    <arg name="cloud_points_threshold" value="50"/>
    <arg name="lidar_points_threshold" value="5"/>
    <arg name="min_x" value="0.3"/>
    <arg name="max_x" value="0.7"/>
    <arg name="min_y" value="-0.27"/>
    <arg name="max_y" value="0.27"/>
    <arg name="min_z" value="0.02"/>
    <arg name="max_z" value="1.30"/>
    <arg name="obs_detector_debug" value="False"/>
    <arg name="move_head" value="True"/>
    <arg name="control_alpha" default="0.6"/>
    <arg name="control_beta" default="0.2"/>
    <arg name="max_linear_speed" default="0.55"/>
    <arg name="min_linear_speed" default="0.15"/>
    <arg name="max_angular_speed" default="0.8"/>
    <arg name="linear_acceleration" default="0.25"/>
    <arg name="use_pot_fields" value="True"/>
    <arg name="pot_fields_k_rej" value="0.3"/>
    <arg name="pot_fields_d0" default="1.0"/>
    <arg name="inflation_radius" value="0.15"/>
    <arg name="diagonal_paths" value="False"/>
    <arg name="smooth_alpha" default="0.1"/>
    <arg name="smooth_beta" default="0.9"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/justina.rviz"/>
  <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen">
    <param name="la_predefined" value="$(find config_files)/justina/manipulation/la_predefined.yaml"/>
    <param name="ra_predefined" value="$(find config_files)/justina/manipulation/ra_predefined.yaml"/>
    <param name="hd_predefined" value="$(find config_files)/justina/manipulation/hd_predefined.yaml"/>
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/manipulation.launch"/>
  <include file="$(find surge_et_ambula)/launch/justina/vision.launch"> 
    <arg name="debug"         value="$(arg debug)"/> 
    <arg name="training_dir"  value="$(find obj_reco)/training_dir"/> 
  </include> 
  
  <include file="$(find surge_et_ambula)/launch/justina/hri.launch"/>
</launch>
