<launch>
  <arg name="debug" default="False"/>
  <arg name="static_map_file"  default="$(find config_files)/maps/appartment.yaml"/>
  <arg name="initial_pose_x" default="0.5"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  
  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_hardware_gazebo.launch">
    <arg name="posx"  value="10.61"/>
    <arg name="posy"  value="11.24"/>
    <arg name="posz"  value="0.05"/>
    <arg name="yaw"   value="3.14"/>
    <arg name="world" value="appartment"/>
  </include>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/movement_planning.rviz"/>
  
  <node name="justina_gui" pkg="justina_gui" type="justina_gui_node" output="screen">
    <param name="la_predefined" value="$(find config_files)/justina/manipulation/la_predefined.yaml"/>
    <param name="ra_predefined" value="$(find config_files)/justina/manipulation/ra_predefined.yaml"/>
    <param name="hd_predefined" value="$(find config_files)/justina/manipulation/hd_predefined.yaml"/>
  </node>

  <include file="$(find surge_et_ambula)/launch/justina/gazebo_simul/justina_gazebo_controllers.launch"/>

  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg static_map_file)"/>

  <node name="amcl" pkg="amcl" type="amcl" output="screen" args="scan:=/hardware/scan">
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <param name="update_min_a" value="0.3"/>
    <param name="laser_min_range" value="0.2"/>
    <param name="odom_model_type" value="omni"/>
  </node>
</launch>
