<launch>
  <arg name="static_map_file"  default="$(find config_files)/maps/mapa_itzel.yaml"/>
  <arg name="prohibition_map_file"  default="$(find config_files)/prohibition_maps/mapa_itzel.yaml"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="laser_scan_topic" default="/hardware/scan"/>
  <arg name="point_cloud_topic" default="/hardware/kinect/rgbd_wrt_robot"/>
  <arg name="use_lidar" default="True"/>
  <arg name="use_point_cloud" default="False"/>
  <arg name="use_pot_fields" default="False"/>
  <arg name="pot_fields_k_rej" default="1.0"/>
  <arg name="pot_fields_d0" default="1.0"/>
  <arg name="cloud_downsampling" default="9"/>
  <arg name="lidar_downsampling" default="2"/>
  <arg name="cloud_points_threshold" default="100"/>
  <arg name="lidar_points_threshold" default="20"/>
  <arg name="max_linear_speed" default="0.5"/>
  <arg name="min_linear_speed" default="0.05"/>
  <arg name="max_angular_speed" default="0.8"/>
  <arg name="linear_acceleration" default="0.1"/>
  <arg name="fine_dist_tolerance" default="0.03"/>
  <arg name="coarse_dist_tolerance" default="0.2"/>
  <arg name="angle_tolerance" default="0.05"/>
  <arg name="move_head" default="True"/>
  <arg name="/base_link_name" default="base_footprint"/>
  <arg name="min_x" default="0.3"/>
  <arg name="max_x" default="0.8"/>
  <arg name="min_y" default="-0.25"/>
  <arg name="max_y" default="0.25"/>
  <arg name="min_z" default="0.05"/>
  <arg name="max_z" default="1.30"/>
  <arg name="obs_detector_debug" default="False"/>
  <arg name="smooth_alpha" default="0.1"/>
  <arg name="smooth_beta" default="0.9"/>
  <arg name="control_alpha" default="0.8"/>
  <arg name="control_beta" default="0.5"/>
  <arg name="no_sensor_data_timeout" default="0.5"/>
  <arg name="decay_factor" default="10"/>
  <arg name="patience" default="True"/>
  <arg name="proximity_criterion" default="2.0"/>
  <arg name="cost_radius" default="0.5"/>
  <arg name="inflation_radius" default="0.2"/>
  <arg name="diagonal_paths" default="False"/>
  

  <node name="path_planner" pkg="path_planner" type="path_planner_node" output="screen">
    <param name="diagonal_paths" value="$(arg diagonal_paths)"/>
    <param name="smooth_alpha" value="$(arg smooth_alpha)"/>
    <param name="smooth_beta" value="$(arg smooth_beta)"/>

  </node>
  
  <node name="simple_move"  pkg="simple_move"  type="simple_move_node"  output="screen">
    <param name="max_linear_speed" value="$(arg max_linear_speed)"/>
    <param name="max_angular_speed" value="$(arg max_angular_speed)"/>
    <param name="min_linear_speed" value="$(arg min_linear_speed)"/>
    <param name="control_alpha" value="$(arg control_alpha)"/>
    <param name="control_beta" value="$(arg control_beta)"/>
    <param name="linear_acceleration" value="$(arg linear_acceleration)"/>
    <param name="fine_dist_tolerance" value="$(arg fine_dist_tolerance)"/>
    <param name="coarse_dist_tolerance" value="$(arg coarse_dist_tolerance)"/>
    <param name="angle_tolerance" value="$(arg angle_tolerance)"/>
    <param name="move_head" value="$(arg move_head)"/>
    <param name="use_pot_fields" value="$(arg use_pot_fields)"/>
    <param name="/base_link_name" value="$(arg /base_link_name)"/>
    
  </node>

  <node name="obs_detector"  pkg="obstacle_detector"  type="obs_detect_node"  output="screen">
    <param name="laser_scan_topic" value="$(arg laser_scan_topic)"/>
    <param name="use_lidar" value="$(arg use_lidar)"/>
    <param name="use_point_cloud" value="$(arg use_point_cloud)"/>
    <param name="use_pot_fields" value="$(arg use_pot_fields)"/>
    <param name="pot_fields_k_rej" value="$(arg pot_fields_k_rej)"/>
    <param name="pot_fields_d0" value="$(arg pot_fields_d0)"/>
    <param name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <param name="laser_scan_topic" value="$(arg laser_scan_topic)"/>
    <param name="cloud_downsampling" value="$(arg cloud_downsampling)"/>
    <param name="lidar_points_threshold" value="$(arg lidar_points_threshold)"/>
    <param name="cloud_points_threshold" value="$(arg cloud_points_threshold)"/>
    <param name="max_x" value="$(arg max_x)"/>
    <param name="min_x" value="$(arg min_x)"/>
    <param name="max_y" value="$(arg max_y)"/>
    <param name="min_y" value="$(arg min_y)"/>
    <param name="max_z" value="$(arg max_z)"/>
    <param name="min_z" value="$(arg min_z)"/>
    <param name="debug" value="$(arg obs_detector_debug)"/>
    <param name="no_sensor_data_timeout" value="$(arg no_sensor_data_timeout)"/>
    
  </node>



  <node name="map_augmenter"  pkg="map_augmenter"  type="map_augmenter_node"  output="screen">
    <param name="use_lidar" value="$(arg use_lidar)"/>
    <param name="use_point_cloud" value="$(arg use_point_cloud)"/>
    <param name="point_cloud_topic" value="$(arg point_cloud_topic)"/>
    <param name="laser_scan_topic" value="$(arg laser_scan_topic)"/>
    <param name="cloud_downsampling" value="$(arg cloud_downsampling)"/>
    <param name="inflation_radius" value="$(arg inflation_radius)"/>
    <param name="cost_radius" value="$(arg cost_radius)"/>
    <param name="decay_factor" value="$(arg decay_factor)"/>
    <param name="lidar_downsampling" value="$(arg lidar_downsampling)"/>
    <param name="max_x" value="$(arg max_x)"/>
    <param name="min_x" value="$(arg min_x)"/>
    <param name="max_y" value="$(arg max_y)"/>
    <param name="min_y" value="$(arg min_y)"/>
    <param name="max_z" value="$(arg max_z)"/>
    <param name="min_z" value="$(arg min_z)"/>
  </node>

  <node name="mvn_pln"  pkg="mvn_pln"  type="mvn_pln_node"  output="screen">
    <remap from="/nav_control/goal" to="/move_base_simple/goal"/>
    <param name="patience" value="$(arg patience)"/>
    <param name="proximity_criterion" value="$(arg proximity_criterion)"/>
    
  </node>

  <node name="prohibition_map_server" pkg="map_server" type="map_server" output="screen" args="$(arg prohibition_map_file)">
    <remap from="/static_map" to="/prohibition_map"/>
    <remap from="/map" to="/prohibition_layer_map"/>
  </node>
 
  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg static_map_file)"/>

  <node name="amcl" pkg="amcl" type="amcl" output="screen" args="scan:=$(arg laser_scan_topic)">
    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
    <param name="update_min_a" value="0.3"/>
    <param name="laser_min_range" value="0.2"/>
    <param name="odom_model_type" value="omni"/>
  </node>
</launch>
